<header>
    <img
    src="assets/img/pedro.jpg"
    alt="Pedro Negreiros - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
    <h1>Pedro Negreiros</h1>
</header>

<aside>
    <div class="container">
        <p>Java | Javascript</p>
        <p>Brasilia - DF</p>
        <p>
            Iniciante na área de desenvolvimento de software, 
            buscando conhecimento e aprimorando minhas habilidades.
        </p>

        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/cv.pdf" 
                       target="_blank" 
                       class="btn btn-primary"
                    >
                        Download Cv
                    </a>
                </li>

                <li>
                    <a href="LINK LINKEDIN" 
                       target="_blank" 
                       class="btn btn-secondary"
                    >
                        LinkedIn
                    </a>
                </li>

            </ul>
        </nav>

        <section>
            <figure>
                <img 
                    src="assets/icons/whatsapp.svg"
                    alt="Ícone para contato do whatsapp"
                    width="22px"
                    height="24px"
                />

                <figcaption>
                    <a href="LINK WHATSAPP"
                       target="_blank">
                       <strong>Envie uma mensagem para:</strong>
                       <p> whatsapp: (61) 99180-9274</p>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <img 
                    src="assets/icons/mail.svg"
                    alt="Ícone para contato do e-mail"
                    width="22px"
                    height="24px"
                />

                <figcaption>
                    <a href="mailto:peelias209@gmail.com"
                       target="_blank">
                       <strong>Envie uma e-mail para:</strong>
                       <p> email peelias209&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>

    </div>
</aside>